@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.9.1/font/bootstrap-icons.css");

.insta-card{
    width:400px;
    border: 1px solid lightgray;
    margin: 50px auto;
    border-radius: 12px;

}
.img{
    width: 100%;
}
.icon-container{
    font-size: 28px;
}
.p5{
    padding:12px;
}
.insta-flex{
    display: flex;
    justify-content: space-between;
}